.header__container{
    align-items: center;
    display: flex;
    height: 72px;
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
}

.header__logo{
    align-items: center;
    cursor: pointer;
    display: flex;
    gap: 0.2rem;
    height: 2rem;
    width: 6.3rem;
}

.header__logo___game{
    background-image: url('../../img/Vector.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    width: 30%;
}

.header__logo___alura{
    display: flex;
    height: 100%;
    width: 70%;
}

.header__logo___alura--1{
    background-image: url('../../img/AluraGeek-1.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    width: 50%;
}

.header__logo___alura--2{
    background-image: url('../../img/AluraGeek.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    width: 50%;
}

.header__login{
    height: 3rem;
    display: flex;
}

.header__login___btn {
    background: transparent;
    border: 1px solid var(--cor-azul);;
    color: var(--cor-azul);
    cursor: pointer;
    font-weight: 700;
    width: 8.3rem;
    height: 100%;
}

.header__icon{
    align-items: center; 
    display: flex;  
}

.header__icon___pesquisa{
    background-color: transparent;
    border: 0;
    display: none;
}

.header__icon___lupa{
    cursor: pointer;
    transition: 0.2s;   
}

.header__icon___lupa:hover{
    color: var(--cor-azul);
}

.header__hidden{
    display: hidden;
}

.header__adc{
    display: flex;
    height: 100%;
    width: fit-content;
}

.header__adc___btn {
    background: transparent;
    border: 1px solid var(--cor-azul);;
    color: var(--cor-azul);
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: 700;
    height: 100%;
    padding: 0 0.5rem;
}

@media screen and (min-width: 768px){
    .header__container{
        justify-content: space-around;
    }
    
    .header__hidden{
        display: inline-block;
        width: 20%;        
    }
    
    .header__hidden2 {
        width: 15%;
    }
    
    .header__icon{
        background-color: var(--cor-bg);
        border-radius: 1rem;
        height: 2rem;
        justify-content: space-evenly;
        order: -1;
        width: 15rem;
    }

    .header__icon___pesquisa{
        border-radius: 1rem;
        display: inline-block;   
        padding-left: 1rem;
        width: 100%;
    }

    .header__icon___pesquisa::placeholder{
        color: lightgray;
        font-weight: 200;
    }
    
    .header__icon___pesquisa:hover{
        cursor: text;
    }
    
    .header__icon___pesquisa:focus{
        outline: none;
    }
    
    .header__link{
        order: -2;
    }
    
    .header__icon___lupa{
        color: var(--cor-cinzaclaro);
        padding-right: 1rem;
    }
}

@media screen and (min-width:1200px){
    .header__container{
        height: 110px;
        justify-content: space-evenly;
    }

    .header__logo{
        width: 9rem;
    }
    
    .header__hidden{
        width: 20%;
    }

    .header__hidden2 {
        width: 10%;
    }
    
    .header__icon{
        justify-content: space-between;
        margin-left: -3.6rem;
        width: 25rem;
    }
    
    .header__adc{
        height: 70%;
    }
    
    .header__adc___btn {    
        font-size: 1rem;
        padding: 0 1rem;
    }
}