.rodape{
    align-items: center;
    display: flex;
    font-family: 'Raleway', sans-serif;
    height: 102px;
    justify-content: center;
    padding: 1rem;
}

.rodape__text{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    
}

.rodape__text h1{
    color: var(--cor-cinza);
    font-weight: 500;
}

