@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600;700&display=swap');

:root {
    --cor-azul: #2A7AE4;
    --cor-azulescuro: #0956b9;
    --cor-bg: #F5F5F5;
    --cor-bg-azul: #EAF2FD;
    --cor-cinza: #464646;
    --cor-cinzaclaro: #A2A2A2;
}

* {
    color: var(--cor-cinza);
    font-family: 'Raleway', sans-serif;
}

body {
    background-color: #FFFF;
}

.clear {
    clear: both;
}

