.login__container{
    align-items: center;
    background-color:var(--cor-bg);
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: center;
    width: 100vw;
}

.login__form{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.login__form h1{
    font-weight: 800;
}

.login__input{
    border: 0;
    border-radius: 5px;
    box-shadow:
    1.1px 1.6px 5.2px rgba(0, 0, 0, 0.056),
    2.2px 3.2px 14.3px rgba(0, 0, 0, 0.066),
    3.8px 5.7px 34.4px rgba(0, 0, 0, 0.068),
    10px 15px 114px rgba(0, 0, 0, 0.07);
    padding: 1rem;
    width: 16rem;
}

.login__btn{
    background-color: var(--cor-azul);
    border: 0;
    box-shadow:
    1.1px 1.6px 5.2px rgba(0, 0, 0, 0.056),
    2.2px 3.2px 14.3px rgba(0, 0, 0, 0.066),
    3.8px 5.7px 34.4px rgba(0, 0, 0, 0.068),
    10px 15px 114px rgba(0, 0, 0, 0.07);
    height: 3rem;
    color: white;
    cursor: pointer;
    width: 8rem;
}

.login__input:focus{
    outline-color: var(--cor-azul);
}

@media screen and (min-width: 768px){
    .login__input{
        width: 25rem;
    }

    .login__btn{
        width: 15rem;
    }
}

@media screen and (min-width: 1200px){
    .login__input{
        width: 35rem;
    }
    
    .login__btn{
        width: 35rem;
    }
}